fastapi
uvicorn
torch
numpy

TTS @ git+https://github.com/thinhlpg/TTS.git@add-vietnamese-xtts

vinorm
cutlet
soundfile
unidic
underthesea
huggingface_hub

# Using newer librosa version that's more compatible
librosa